* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  border: 2px solid black;
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 15px;
  background-color: hsl(180, 87%, 44%);
}

#pwdLength {
  text-align: center;
  font-size: 1.1em;
  border-radius: 20px;
  padding: 5px;
}
